<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Header</title>
    </head>
    <body>
	<th:block th:fragment="header-meta">
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" />
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
            <link rel="icon" href="/spring/icon/favicon" />
            <link rel="apple-touch-icon" href="/spring/icon/appleTouchIcon" />

            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta name="title" th:content="${title}" />

            <title><th:block th:if="${title != ''}" th:text="' : ' + ${title}"></th:block></title>
	</th:block>
    </body>
</html>

