<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Pagination</title>
    </head>
    <body>
        <div class="row" th:fragment="pager" style="float: left;">
            <script type="text/javascript" th:inline="javascript">
                /*<![CDATA[*/
                function reloadPage() {
                    window.location = document.getElementById("limiter").value;
                }
                /*]]>*/
            </script>
            
            <th:block th:if="${pager.getPage().getContent().isEmpty() == false}">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p class="toolbar-amount">
                        <span class="toolbar-number">
                            <p th:if="${pager.getLastPageNum()>1}" th:text="'Items ' + ${pager.getFirstNum()} + ' to ' + ${pager.getLastNum()} + ' of ' + ${pager.getPage().getTotalElements() + ' total'}"></p>
                            <p th:if="${pager.getTotalNum() == 1 || pager.getLastPageNum()<=1}" th:text="'Item(s) ' + ${pager.getPage().getTotalElements()}"></p>
                        </span>
                    </p>

                    <th:block th:if="${pager.getLastPageNum()>1}">
                        <div class="pages">
                            <strong class="label pages-label" id="paging-label">Page</strong>
                            <ul class="items pages-items" aria-labelledby="paging-label">
                                <li th:if="${pager.isFirstPage() == false}" class="item pages-item-previous">
                                    <a th:href="${pager.getPreviousPageUrl()}">
                                        <span>Previous Page</span>
                                    </a>
                                </li>

                                <li class="item">
                                    <a class="page first" th:href="${pager.getFirstPageUrl()}">
                                        <span>Page 1</span>
                                    </a>
                                </li>

                                <nav aria-label="Pagination">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item" th:each="page : ${pager.getPages()}" >
                                            <div th:if="${pager.isPageCurrent(page) == true}" class="item current">
                                                <strong class="page">
                                                    <span th:text="'You\'re currently reading page ' + ${page}"></span>
                                                </strong>
                                            </div>
                                            <div th:unless="${pager.isPageCurrent(page) == true}" class="item">
                                                <a th:href="${pager.getPageUrl(page)}" class="page">
                                                    <span th:text="'Page ' + ${page}"></span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>

                                <li class="item">
                                    <a class="page last" th:href="${pager.getLastPageUrl()}">
                                        <span th:text="'Page ' + ${pager.getLastPageNum()}"></span>
                                    </a>
                                </li>

                                <li th:if="${pager.isLastPage() == false}" class="item pages-item-next">
                                    <a th:href="${pager.getNextPageUrl()}">
                                        <span>Next Page</span>
                                    </a>
                                </li>
                        </div>
                    </th:block>

                    <div class="limiter">
                        <strong class="limiter-label">Show</strong>
                        <select id="limiter" onchange="reloadPage();">
                            <th:block th:each="limit : ${pager.getAvailableLimit().entrySet()}">
                                <option th:value="${pager.getLimitUrl(limit.getKey())}" th:text="${limit.getValue()}" th:selected="${pager.isLimitCurrent(limit.getKey())}"></option>
                                </option>
                            </th:block>
                        </select>
                        <span class="limiter-text">per page</span>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </th:block>
        </div>
    </body>
</html>