<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Pagination</title>
    </head>
    <body>
        <div th:fragment="pager">
            <script type="text/javascript" th:inline="javascript">
                /*<![CDATA[*/
                function reloadPage() {
                window.location = document.getElementById("limiter").value;
                }
                /*]]>*/
            </script>

            <th:block th:if="${pager != null && pager.canRender() == true}">
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        <a class="btn" style="border: 1px solid" th:href="${pager.getFirstPageUrl()}">&laquo;</a>

                        <th:block th:if="${pager.canRenderPreviousPageUrl() == true}">
                            <a class="btn" style="border: 1px solid" th:href="${pager.getPreviousPageUrl()}">&lsaquo;</a>
                        </th:block>
                        
                        <th:block th:if="${pager.canRenderLeftEllipsisPageUrl() == true}">
                            <a class="btn" style="border: 1px solid" th:href="${pager.getFirstPageUrl()}" th:text="${pager.getPaginationCounter().getFirstPageNum()}"></a>
                            <a class="btn" style="border: 1px solid" th:href="${pager.getLeftEllipsisPageUrl()}">...</a>
                        </th:block>

                        <th:block th:each="page : ${pager.getPaginationCounter().getPages()}">
                            <th:block th:if="${pager.getPaginationCounter().isPageCurrent(page) == true}">
                                <a class="btn btn-primary" th:href="${pager.getPageUrl(page)}">
                                    <span th:text="${page}"></span>
                                </a>
                            </th:block>
                            <th:block th:if="${pager.getPaginationCounter().isPageCurrent(page) == false}">
                                <a class="btn" style="border: 1px solid" th:href="${pager.getPageUrl(page)}">
                                    <span th:text="${page}"></span>
                                </a>
                            </th:block>
                        </th:block>
                        
                        <th:block th:if="${pager.canRenderRightEllipsisPageUrl() == true}">
                            <a class="btn" style="border: 1px solid" th:href="${pager.getRightEllipsisPageUrl()}">...</a>
                            <a class="btn" style="border: 1px solid" th:href="${pager.getLastPageUrl()}" th:text="${pager.getPaginationCounter().getLastPageNum()}"></a>
                        </th:block>

                        <th:block th:if="${pager.canRenderNextPageUrl() == true}">
                            <a class="btn" style="border: 1px solid" th:href="${pager.getNextPageUrl()}">&rsaquo;</a>
                        </th:block>
                        <a class="btn" style="border: 1px solid" th:href="${pager.getLastPageUrl()}">&raquo;</a>
                    </div>
                </div>               
            </th:block>

            <div class="limiter" style="float: left">
                <select id="limiter" onchange="reloadPage();">
                    <th:block th:each="limit : ${pager.getPaginationCounter().getAvailableLimit(true).entrySet()}">
                        <option th:value="${pager.getLimitUrl(limit.getKey())}" th:text="${limit.getValue()}" th:selected="${pager.getPaginationCounter().isLimitCurrent(limit.getKey())}"></option>
                    </th:block>
                </select>
            </div>
            </th:block>
        </div>
    </body>
</html>