<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
    <head>
        <title>Page not found</title>
    </head>
    
    <body> 
        <div style="background-color: lightgray; padding: 20px;">
            <h2>Page not found</h2>
            
            <p style="margin-top: 2em;">Looks like you've followed a broken link or entered a URL that doesn't exist on this site.</p>
            <p style="margin-top: 0.5em;"><a href="/">&larr; Back to our site</a></p>
        </div>
    </body>
</html>