<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
	<style>
	.image-blurred-edge {
	    background-image: url('/resources/img/404.jpg');
	    width: 359px;
	    height: 299px;
	    box-shadow: 0 0 8px 8px white inset;
	    margin-left: auto;
	    margin-right: auto;
	}
	</style>
        <title>404</title>
</head>
<body> 
    
<div class="container">
    <h1 style="text-align: center;">404 (NOT FOUND)</h1>

    <br /><br />
    <div class="image-blurred-edge"></div>
    <br /><br />
</div>
</body>
</html>