<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>
        <th:block th:include="layout/header :: header-meta(title=${title})"></th:block>
    </head>
    <body>
        <th:block th:include="layout/navbar :: navbar(current='items')"></th:block>
        
        <div th:replace="layout/messages :: messages(messages=${messages})"></div>
        
        <div style="margin: 15px">
            <h1 style="font-size:25px" th:text="${title}"></h1>
            
            <th:block th:include="layout/toolbar"></th:block>

            <th:block th:if="${items.isEmpty() == false}">
                <div style="margin-top: 15px">
                    <div th:replace="item/list :: items(items=${items})"></div>
                    <div th:replace="layout/pager :: pager(pager=${pager})"></div>
                </div>
            </th:block>
            <th:block th:unless="${items.isEmpty() == false}">
                <div style="margin-top: 15px">
                    <p th:text="#{item.no_items_found} + '.'"></p>
                </div>
            </th:block>
        </div>
    </body>
</html>