<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>
        <th:block th:include="layout/header :: header-meta(title=${title})"></th:block>
    </head>
    <body>
        <th:block th:include="layout/navbar :: navbar(current='items')"></th:block>

        <div th:replace="layout/messages :: messages(messages=${messages})"></div>

        <div style="margin: 15px;">
            <h1 th:text="${title}"></h1>

            <form th:action="@{/save}" method="post" th:object="${item}">
                <fieldset>
                    <!-- Hidden fields -->
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" id="current_category_id" th:value="${item.category !=null}? ${item.category.id} : '0'" />

                    <!-- Title -->
                    <label th:text="#{item.title}">Title:</label>
                    <input type="text" th:field="*{title}" class="form-control" />
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="display: block; color: red;">error</span>

                    <!-- Description -->
                    <label th:text="#{item.description}">Description:</label>
                    <textarea rows="10" cols="40" th:field="*{description}" class="form-control" />
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="display: block; color: red;">error</span>

                    <!-- Published date -->
                    <label th:text="#{item.published_at}">Published at</label>
                    <input type="text" th:field="*{pubDate}" class="form-control" id="pubDate" placeholder="Format: 2001-07-04T12:08:56.235-0700" />
                    <span th:if="${#fields.hasErrors('pubDate')}" th:errors="*{pubDate}" style="display: block; color: red;">error</span>

                    <!-- Link -->
                    <label th:text="#{item.link}">Link:</label>
                    <input type="text" th:field="*{link}" class="form-control" />
                    <span th:if="${#fields.hasErrors('link')}" th:errors="*{link}" style="display: block; color: red;">error</span>

                    <!-- Comments -->
                    <label th:text="#{item.comments}">Comments:</label>
                    <input type="text" th:field="*{comments}" class="form-control" />
                    <span th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}" style="display: block; color: red;">error</span>

                    <!-- Category -->
                    <label th:text="#{item.category}">Category:</label>
                    <select th:field="*{category}" id="category_select" class="form-control"></select>
                    <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" style="display: block; color: red;">error</span>

                    <br />
                    
                    <!-- Buttons/links -->
                    <input type="submit" class="btn btn-primary" value="Save" th:value="#{general.action_save}" />
                    <a class="btn" th:href="@{/}" th:text="#{general.action_cancel}">Cancel</a>
                </fieldset>
            </form>
        </div>

        <script type="text/javascript" th:inline="javascript">
            var ajax = false;

            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: '/api/v1/category/categories',
                    dataType: 'json',
                    beforeSend: function () {
                        ajax = true;
                    },
                    error: function () {
                        // Ignore
                    },
                    success: function (data) {
                        var jsonObj = JSON.parse(JSON.stringify(data));
                        var currentItemCategory = $("#current_category_id").val();
                        var html = '<option value="0"></option>';

                        $.each(jsonObj, function () {
                            html += '<option value="' + this.id + '" ';
                            if (currentItemCategory == this.id) {
                                html += ' selected=selected';
                            }
                            html += '>' + this.name + '</option>'
                        });
                        
                        $("#category_select").html(html);
                    },
                    complete: function () {
                        ajax = false;
                    }
                });
            });
        </script>
    </body>
</html>
